@using Newtonsoft.Json;
@using Vitrine.Online.WebApp.Models.Categorias;
@model ListaCategoriasViewModel

@{
    ViewData["Title"] = "Categorias";
}


<div class="container container-ghost mt-5 mb-5">

    <div class="col-lg-12 d-inline-flex">
        <div class="col-lg-10">
            <h4>Categories</h4>
        </div>
        <div class="col-lg-2" style="text-align-last: center;">
            <a class="btn-teal" asp-controller="Categoria" asp-action="NovaCategoria">New Category</a>
        </div>
    </div>
    <hr />




    @if (Model?.Categorias?.Any() ?? false)
    {
        <div class="container">

            <!--Trabalhos realizados Normal-->
            <form class="mt-5 pb-5 d-flex justify-content-center">

                <div class="col-lg-12 d-sm-inline-flex" style="flex-wrap: wrap; place-content: center;">

                    @foreach (var categoria in Model.Categorias)
                    {
                        <div class="card-portfolio" onclick="onClickVerCategoria(@JsonConvert.SerializeObject(categoria))">
                            @if (!string.IsNullOrEmpty(categoria.ImagemBase64))
                            {
                                <img src="data:image/png;base64,@categoria.ImagemBase64" style="width: 100%; height: 65%;" />
                            }
                            else
                            {
                                <img src="~/imgs/fundo 1.jpg" style="width: 100%; height: 65%;" />
                            }

                            <p class="mt-1" style="overflow-wrap: break-word;"><b>@categoria.NomeCategoria</b></p>

                            <div style="display: grid;">
                                <small>@categoria.Descricao</small>
                            </div>
                        </div>
                    }

                </div>
            </form>

        </div>

    }
    else
    {
        <div class="message-warning">
            <h4 class="text-semi-bold-orange mt-3" style="color: brown !important;">Não foi encontrado nenhum registro !</h4>
        </div>
    }
</div>


@section Scripts{
    <script src="~/js/Categorias/listaCategorias.js" asp-append-version="true"></script>
}