@model MessageViewModel



@if (Model != null)
{
    <div class="message-warning">
        <h4 class="text-semi-bold-orange mt-3">@Model.Message</h4>
        <p>@Model.TextoInformativo</p>
    </div>
}
else
{
    <div class="message-warning">
        <h4 class="text-semi-bold-orange mt-3">The operation could not be completed! Please try again later.</h4>
    </div>
}