@model MessageViewModel



@if (Model != null)
{
    <div class="container justify-content-center mt-5 mb-5" style="background-color: darkseagreen; box-shadow: 1px 1px 50px 1px #00000066;">
        <div class="d-inline-flex" style="height: 100px; width:100%; background-color: darkseagreen; align-items: center;">
            <img class="ms-2" src="~/imgs/confirm-icon1.png" style="width: 70px; height: 70px;" />

            <div class="row">
                <h4 class="text-semi-bold-orange ms-5" style="color: ghostwhite; width: 80%;">
                    @Model.Message
                </h4>
                <div class="ms-5" style="color:white; width: 80%;">@Model.TextoInformativo</div>
            </div>

        </div>
    </div>
}
else
{
    <div class="container justify-content-center mt-5 mb-5" style="background-color: darkseagreen; box-shadow: 1px 1px 50px 1px #00000066;">
        <div class="d-inline-flex" style="height: 100px; width:100%; background-color: darkseagreen; align-items: center;">
            <img class="ms-2" src="~/imgs/confirm-icon1.png" style="width: 70px; height: 70px;" />

            <div class="row">
                <h4 class="text-semi-bold-orange ms-5" style="color: ghostwhite; width: 80%;">
                    Os dados foram salvos com sucesso!
                </h4>
                <div class="ms-5" style="color:white; width: 80%;"></div>
            </div>

        </div>
    </div>
}