.my-carousel .captions {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: absolute;
    margin-top: 12%;
    margin-left: 20%;
    text-align: center;
    z-index: 200;
}
.my-carousel .captions h3{
    font-size: 30pt;
}
.my-carousel .captions h4 {
    font-size: 15pt;
}
.my-carousel .captions a {
    margin-top: 5%;
    align-self: center;
    background: #00000066;
    border-radius: 10px;
}
.my-carousel .captions a:hover {
    background: #000000AA;
    color: white;
    border-radius: 0px;
}
.my-carousel img {
    height: 100vh;
    width: 100%;
    opacity: 0.3;
    z-index: -101;
}
.carousel-inner{
    background: black;
}