@{
    Layout = "_Layout";
}

<div class="container mt-5">

    <h2>Services</h2>
    <hr />
    <a type="button" class="btn btn-teal col-lg-2 ms-2" asp-controller="Services" asp-action="IncluirTrabalho">Incluir Trabalho</a>
</div>