@model SolicitacaoOrcamentoViewModel


<div class="container mt-5 container-ghost">



    <form class="form-contato-sugestao mt-3 col-lg-6" asp-controller="Contato" asp-action="SalvarSolicitacao" method="post" enctype="multipart/form-data">

        <input asp-for="Id_Solicitacao" class="d-none" />

        <div class="form-outline mb-4 ag-field-content">
            <input asp-for="Nome" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Nome</label>
        </div>

        <div class="col-lg-12">
            <div class="form-outline mb-4 ag-field-content col-lg-6">
                <input asp-for="Celular" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
                <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Celular</label>
            </div>
        </div>

        <div class="form-outline mb-4 ag-field-content">
            <input asp-for="Email" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">E-mail</label>
        </div>


        <div class="form-outline mb-4 ag-field-content">
            <input asp-for="Descricao_Solicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Descreva Seu Pedido</label>
        </div>



        <div class="mb-5">
            <a><span id="lblQtdAnexos">( 0 )</span>&nbsp; Anexos adicionados</a>
            <button type="button" class="btn btn-teal ms-3" onclick="onClickCarregarImagens(this)">Carregar anexos</button>
            <input id="btnCarregarImagens" onchange="onChangeImagens(this)" class="d-none" asp-for="Anexos" type="file" multiple>
        </div>



        <div class="col-lg-12 d-inline-flex">
            <div class="form-outline mb-4 ag-field-content col-lg-10 col-sm-10">
                <input asp-for="Endereco_solicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
                <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Endereço</label>
            </div>


        </div>



        <div class="mt-5">
            <button type="submit" class="btn btn-teal ms-5">Enviar</button>
            <button type="button" class="btn btn-voltar ms-5">Voltar</button>

        </div>

    </form>

</div></div>