@model SolicitacaoOrcamentoViewModel


<div class="container mt-5 container-ghost">


    <form class="form-contato-sugestao mt-3 col-lg-6" asp-controller="SolicitacaoOrcamento" asp-action="SalvarSolicitacao" method="post" enctype="multipart/form-data">

        <input asp-for="IdSolicitacao" class="d-none" />

        <div class="form-outline mb-4 ag-field-content">
            <input asp-for="NomeSolicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Name</label>
        </div>

        <div class="col-lg-12">
            <div class="form-outline mb-4 ag-field-content col-lg-6">
                <input asp-for="CelularSolicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
                <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Cell phone</label>
            </div>
        </div>

        <div class="form-outline mb-4 ag-field-content">
            <input asp-for="EmailSolicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">E-mail</label>
        </div>


        <div class="form-outline mb-4 ag-field-content">
            <textarea asp-for="DescricaoSolicitacao" type="text" id="txtDescOrcamento" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required>
                </textarea>
            <label class="form-label text-semi-bold-light ag-field-label" for="txtDescOrcamento">Describe your request</label>
        </div>



        <div class="mb-5">
            <a style="color: #14FFEC"><span id="lblQtdAnexos">( 0 )</span>&nbsp; Attachments added</a>
            <button type="button" class="btn btn-teal ms-3" onclick="onClickCarregarImagens(this)">Upload attachments</button>
            <input id="btnCarregarImagens" onchange="onChangeImagens(this)" class="d-none" asp-for="Anexos" type="file" multiple>
        </div>



        <div class="col-lg-12 d-inline-flex">
            <div class="form-outline mb-4 ag-field-content col-lg-10 col-sm-10">
                <input asp-for="EnderecoSolicitacao" type="text" id="txtEmail" class="form-control ag-field-input ag-input-color-cinze-full" autocomplete="off" required />
                <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Address</label>
            </div>


        </div>



        <div class="mt-5">
            <button type="submit" class="btn btn-teal ms-5">Send</button>
            <button type="button" class="btn btn-voltar ms-5">Come back</button>

        </div>

    </form>

</div></div>