<section class="my-carousel">
    <div id="carousel-jobs" class="carousel slide" data-bs-ride="carousel" data-bs-pause="false" data-bs-interval="3000">

        <div class="captions">
            <div class="welcome d-none d-md-flex justify-content-center" data-anime="right">
                <div class="lines"></div>
                <h5 class="subtitle"> Welcome to <b>Nelson Tile Corp </b></h5>
                <div class="lines"></div>
            </div>
            <div data-anime="left">
                <h3>Title</h3>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
            <a href="#" class="btn col-12 col-lg-3" data-anime="right"> Contact </a>

        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block " src="~/imgs/bathroom-example-1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " src="~/imgs/bathroom-example-2.jpeg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block " src="~/imgs/bathroom-example-3.jpg" alt="Third slide">
            </div>
        </div>
    </div>
</section>