<!--Request Quote Free-->


<div class="pb-5 quote-adjuste col-lg-10 col-12" style="background-color: white !important" data-anime="bottom">

    <div class="col-lg-12 mb-5 container" style="text-align-last: center; ">
        <img class="w-100" src="~/imgs/Request quot free.png" />

    </div>

    <div class="d-flex col-lg-12" style="flex-wrap: wrap;">

        <div class="card-sobre-politico ms-5 mt-5">

            <strong>Bathroom Remodeling</strong>

            <p><a class="published"><i>By igor | abr 21, 2024</i></a></p>

            <p>
                Whether you're looking for a modern and minimalist design or a spa-like retreat, we can help bring your vision to <b>life</b>.
                Our skilled craftsmen pay close attention to detail, ensuring that every aspect of your new <b>bathroom</b> is perfect.
                Let us help you create the bathroom of your dreams!
            </p>
        </div>

        <div class="card-sobre-politico ms-5 mt-5">

            <strong>About</strong>

            <p><a class="published"><i>By igor | abr 22, 2024</i></a></p>

            <p>
                <b>Nelson Tile Corp</b> ,
                We are a perfectionist corporation and professionals in bathroom renovations.
                With years of experience in the market, we seek to deliver quality and value to our customers.
            </p>
        </div>

    </div>
</div>

<!--WORKS-->
<div class="container mt-5 mb-5">

    <h2 class="text-blue">Works</h2>
    <hr />



    <div class=" col-sm-12 d-sm-inline-flex mt-5 justify-content-between container-ghost">

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index " data-anime="left">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/bathroom excelent1.jpg" />

                <p class="mt-3 ms-2"><b>Complete remodels bathroom's</b></p>
            </div>
        </div>

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index" data-anime="bottom">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/cozinha excelent.jpg" />

                <p class="mt-3 ms-2"><b>Custom cabinets</b></p>
            </div>
        </div>

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index" data-anime="right">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/bathroom excelent2.jpg" />

                <p class="mt-3 ms-2"><b>Complete remodels bathroom and reforms</b></p>
            </div>
        </div>

    </div>


    <div class="col-lg-12 text-center mt-5">

        <a class="btn-custom">Start A Project</a>
    </div>

</div>