@{
    ViewData["Title"] = "Home Page";
}


<div class="container mt-5">

    <h2>Complete remodels bathroom's</h2>
    <hr />



    <div class=" col-sm-12 d-sm-inline-flex mt-5 justify-content-between">

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index ">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/bathroom-example-1.jpg" />

                <p>Complete remodels bathroom's</p>
            </div>
        </div>

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/bathroom-example-2.jpeg" />

                <p>Complete remodels bathroom and reforms, example 1</p>
            </div>
        </div>

        <div class="col-sm-4 card-bathroom-example p-3 content-card-index">

            <div class="">
                <img class="bathroom-example mb-1" src="~/imgs/bathroom-example-3.jpg" />

                <p>Complete remodels bathroom and reforms, example 1</p>
            </div>
        </div>

    </div>

</div>
