@{
    Layout = "_Layout";
}

<div class="container mt-5">

    <h2>Catalogs</h2>
    <hr />

    <div class="form-m-ghost col-lg-12 mt-5">

        <div class="form-outline mb-4 ag-field-content catalog-inclui">
            <label class="form-label text-semi-bold-light">Filters</label>
        </div>

        <div class="form-outline mb-4 ag-field-content catalog-inclui">
            <input type="text" id="txtDescricao" class="form-control ag-field-input ag-input-color-cinze-full " autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Name Catalog</label>
        </div>

        <div class="form-outline mb-4 ag-field-content catalog-inclui">
            <input type="text" id="txtDescricao" class="form-control ag-field-input ag-input-color-cinze-full " autocomplete="off" required />
            <label class="form-label text-semi-bold-light ag-field-label" for="form2Example2">Name Category</label>
        </div>
    </div>

</div>